---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Article from "../components/Article.astro";
import Button from "../components/Button.astro";
import Acordion from "../components/Acordion.tsx";
import Testimonials from "../components/Testimonials";
import Contact from "../components/Contact";
---

<Layout>
  <Section>
    <Article>
      <div class="min-[1159px]:w-1/2 w-full">
        <div
          class="min-[1159px]:w-[531px] flex flex-col min-[1159px]:items-start items-center gap-[35px]">
          <h1>Navigating the digital landscape for success</h1>
          <img
            src="/images/Illustration.png"
            alt="illustration"
            class="w-auto block min-[1159px]:hidden"
          />
          <p class="text-xl">
            Our digital marketing agency helps businesses grow and succeed
            online through a range of services including SEO, PPC, social media
            marketing, and content creation.
          </p>
          <Button>Book a consultation</Button>
        </div>
      </div>

      <img
        src="/images/Illustration.png"
        alt="illustration"
        class="w-[600px] hidden min-[1159px]:block"
      />
    </Article>
  </Section>

  <div
    class="flex flex-wrap justify-between min-[1439px]:px-[100px] px-5 gap-7">
    <img
      src="/images/amazon.png"
      alt="amazon"
      class="grayscale"
      decoding="async"
      loading="lazy"
    />
    <img
      src="/images/dribbble.png"
      alt="dribbble"
      class="grayscale"
      decoding="async"
      loading="lazy"
    />
    <img
      src="/images/hubspot.png"
      alt="hubspot"
      class="grayscale"
      decoding="async"
      loading="lazy"
    />
    <img
      src="/images/Notion.png"
      alt="notion"
      class="grayscale"
      decoding="async"
      loading="lazy"
    />
    <img
      src="/images/Netflix.png"
      alt="netflix"
      class="grayscale"
      decoding="async"
      loading="lazy"
    />
    <img
      src="/images/zoom.png"
      alt="zoom"
      class="grayscale"
      decoding="async"
      loading="lazy"
    />
  </div>

  <Section>
    <div class="flex max-sm:flex-col gap-10 items-center py-16">
      <h2 class="px-2 rounded-mini bg-p-green">Services</h2>
      <p class="sm:w-[580px] max-sm:text-center">
        At our digital marketing agency, we offer a range of services to help
        businesses grow and succeed online. These services include:
      </p>
    </div>

    <div class="flex flex-wrap justify-center gap-10 pb-16">
      <article
        class="w-[600px] h-[310px] flex flex-row sm:justify-center items-center sm:p-[50px] p-5 gap-[50px] bg-p-white border border-p-black rounded-big shadow-box max-sm:relative">
        <div class="flex flex-col gap-[93px] items-start">
          <div class="flex flex-col items-start">
            <h3 class="px-2 rounded-mini bg-p-green inline-block">
              Search engine
            </h3>
            <h3 class="px-2 rounded-mini bg-p-green inline-block">
              optimization
            </h3>
          </div>
          <div class="flex gap-[15px] items-center cursor-pointer">
            <img
              src="/images/green-arrow.png"
              alt="Learn more"
              decoding="async"
              loading="lazy"
            />
            <p class="p-5 hidden min-[400px]:block ">Learn more</p>
          </div>
        </div>
        <img
          src="/images/services1.png"
          alt="image"
          decoding="async"
          loading="lazy"
          class="sm:w-[210px] sm:h-[170px] max-sm:absolute w-36 right-4 bottom-10"
        />
      </article>

      <article
        class="w-[600px] h-[310px] flex flex-row sm:justify-center items-center sm:p-[50px] p-5 gap-[50px] bg-p-green border border-p-black rounded-big shadow-box max-sm:relative">
        <div class="flex flex-col gap-[93px] items-start">
          <div class="flex flex-col items-start">
            <h3 class="px-2 rounded-mini bg-p-white inline-block">
              Pay-per-click
            </h3>
            <h3 class="px-2 rounded-mini bg-p-white inline-block">
              advertising
            </h3>
          </div>
          <div class="flex gap-[15px] items-center cursor-pointer">
            <img
              src="/images/green-arrow.png"
              alt="Learn more"
              decoding="async"
              loading="lazy"
            />
            <p class="p-5 hidden min-[400px]:block ">Learn more</p>
          </div>
        </div>
        <img
          src="/images/services2.png"
          alt="image"
          decoding="async"
          loading="lazy"
          class="sm:w-[210px] sm:h-[170px] max-sm:absolute w-36 right-4 bottom-10"
        />
      </article>

      <article
        class="w-[600px] h-[310px] flex flex-row sm:justify-center items-center sm:p-[50px] p-5 gap-[50px] bg-p-black border border-p-black rounded-big shadow-box max-sm:relative">
        <div class="flex flex-col gap-[93px] items-start">
          <div class="flex flex-col items-start">
            <h3 class="px-2 rounded-mini bg-p-white inline-block">
              Social Media
            </h3>
            <h3 class="px-2 rounded-mini bg-p-white inline-block">Marketing</h3>
          </div>
          <div class="flex gap-[15px] items-center cursor-pointer">
            <img
              src="/images/black-arrow.png"
              alt="Learn more"
              decoding="async"
              loading="lazy"
            />
            <p class="p-5 text-p-white hidden min-[400px]:block ">Learn more</p>
          </div>
        </div>
        <img
          src="/images/services3.png"
          alt="image"
          decoding="async"
          loading="lazy"
          class="sm:w-[210px] sm:h-[170px] max-sm:absolute w-36 right-4 bottom-10"
        />
      </article>

      <article
        class="w-[600px] h-[310px] flex flex-row sm:justify-center items-center sm:p-[50px] p-5 gap-[50px] bg-p-white border border-p-black rounded-big shadow-box max-sm:relative">
        <div class="flex flex-col gap-[93px] items-start">
          <div class="flex flex-col items-start">
            <h3 class="px-2 rounded-mini bg-p-green inline-block">Email</h3>
            <h3 class="px-2 rounded-mini bg-p-green inline-block">Marketing</h3>
          </div>
          <div class="flex gap-[15px] items-center cursor-pointer">
            <img
              src="/images/green-arrow.png"
              alt="Learn more"
              decoding="async"
              loading="lazy"
            />
            <p class="p-5 hidden min-[400px]:block ">Learn more</p>
          </div>
        </div>
        <img
          src="/images/services4.png"
          alt="image"
          decoding="async"
          loading="lazy"
          class="sm:w-[210px] sm:h-[170px] max-sm:absolute w-36 right-4 bottom-10"
        />
      </article>

      <article
        class="w-[600px] h-[310px] flex flex-row sm:justify-center items-center sm:p-[50px] p-5 gap-[50px] bg-p-green border border-p-black rounded-big shadow-box max-sm:relative">
        <div class="flex flex-col gap-[93px] items-start">
          <div class="flex flex-col items-start">
            <h3 class="px-2 rounded-mini bg-p-white inline-block">Content</h3>
            <h3 class="px-2 rounded-mini bg-p-white inline-block">Creation</h3>
          </div>
          <div class="flex gap-[15px] items-center cursor-pointer">
            <img
              src="/images/green-arrow.png"
              alt="Learn more"
              decoding="async"
              loading="lazy"
            />
            <p class="p-5 hidden min-[400px]:block ">Learn more</p>
          </div>
        </div>
        <img
          src="/images/services5.png"
          alt="image"
          decoding="async"
          loading="lazy"
          class="sm:w-[210px] sm:h-[170px] max-sm:absolute w-36 right-4 bottom-10"
        />
      </article>

      <article
        class="w-[600px] h-[310px] flex flex-row sm:justify-center items-center sm:p-[50px] p-5 gap-[50px] bg-p-black border border-p-black rounded-big shadow-box max-sm:relative">
        <div class="flex flex-col gap-[93px] items-start">
          <div class="flex flex-col items-start">
            <h3 class="px-2 rounded-mini bg-p-green inline-block">
              Analytics and
            </h3>
            <h3 class="px-2 rounded-mini bg-p-green inline-block">Tracking</h3>
          </div>
          <div class="flex gap-[15px] items-center cursor-pointer">
            <img
              src="/images/black-arrow.png"
              alt="Learn more"
              decoding="async"
              loading="lazy"
            />
            <p class="p-5 text-p-white hidden min-[400px]:block ">Learn more</p>
          </div>
        </div>
        <img
          src="/images/services6.png"
          alt="image"
          decoding="async"
          loading="lazy"
          class="sm:w-[210px] sm:h-[170px] max-sm:absolute w-36 right-4 bottom-10"
        />
      </article>
    </div>
  </Section>

  <Section>
    <Article>
      <div class="min-[1159px]:w-1/2 w-full">
        <div
          class="min-[1159px]:w-[500px] w-full flex flex-col items-start gap-[26px]">
          <h3>Let’s make things happen</h3>
          <p>
            Contact us today to learn more about how our digital marketing
            services can help your business grow and succeed online.
          </p>
          <Button>Get your free proposal</Button>
        </div>
      </div>

      <img
        src="/images/free-proposal.png"
        alt="illustration"
        class="w-[494px] min-[1159px]:block hidden"
        decoding="async"
        loading="lazy"
      />
    </Article>
  </Section>

  <Section>
    <div class="flex max-sm:flex-col gap-10 items-center py-16">
      <h2 class="px-2 rounded-mini bg-p-green">Case Studies</h2>
      <p class="sm:w-[580px] max-sm:text-center">
        Explore Real-Life Examples of Our Proven Digital Marketing Success
        through Our Case Studies
      </p>
    </div>

    <div
      class="flex max-lg:flex-wrap max-lg:gap-10 justify-between items-start bg-p-black rounded-big sm:py-[70px] sm:px-[60px] p-5">
      <div class="min-[773px]:w-[286px]">
        <p class="text-p-white">
          For a local restaurant, we implemented a targeted PPC campaign that
          resulted in a 50% increase in website traffic and a 25% increase in
          sales.
        </p>
        <div class="flex gap-[15px] pt-5 cursor-pointer">
          <p class="text-p-green">Learn more</p>
          <img
            src="/images/green-arrow-mini.png"
            alt="arrow"
            decoding="async"
            loading="lazy"
          />
        </div>
      </div>

      <div class="px-5 lg:block hidden">
        <div class="w-[1px] h-[186px] bg-[#fff]"></div>
      </div>

      <div class="min-[773px]:w-[286px]">
        <p class="text-p-white">
          For a B2B software company, we developed an SEO strategy that resulted
          in a first page ranking for key keywords and a 200% increase in
          organic traffic.
        </p>
        <div class="flex gap-[15px] pt-5 cursor-pointer">
          <p class="text-p-green">Learn more</p>
          <img
            src="/images/green-arrow-mini.png"
            alt="arrow"
            decoding="async"
            loading="lazy"
          />
        </div>
      </div>

      <div class="px-5 lg:block hidden">
        <div class="w-[1px] h-[186px] bg-[#fff]"></div>
      </div>

      <div class="min-[773px]:w-[286px]">
        <p class="text-p-white">
          For a national retail chain, we created a social media marketing
          campaign that increased followers by 25% and generated a 20% increase
          in online sales.
        </p>
        <div class="flex gap-[15px] pt-5 cursor-pointer">
          <p class="text-p-green">Learn more</p>
          <img
            src="/images/green-arrow-mini.png"
            alt="arrow"
            decoding="async"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </Section>

  <Section>
    <div class="flex max-sm:flex-col gap-10 items-center py-[128px]">
      <h2 class="px-2 rounded-mini bg-p-green">Our Working Process</h2>
      <p class="sm:w-[580px] max-sm:text-center">
        Step-by-Step Guide to Achieving <br /> Your Business Goals
      </p>
    </div>

    <div class="pb-16">
      <Acordion number={1} title="Consultation" client:load>
        <p>
          During the initial consultation, we will discuss your business goals
          and objectives, target audience, and current marketing efforts. This
          will allow us to understand your needs and tailor our services to best
          fit your requirements.
        </p>
      </Acordion>

      <Acordion
        number={2}
        title="Research and Strategy Development"
        client:load>
        <p>
          During the initial consultation, we will discuss your business goals
          and objectives, target audience, and current marketing efforts. This
          will allow us to understand your needs and tailor our services to best
          fit your requirements.
        </p>
      </Acordion>

      <Acordion number={3} title="Implementation" client:load>
        <p>
          During the initial consultation, we will discuss your business goals
          and objectives, target audience, and current marketing efforts. This
          will allow us to understand your needs and tailor our services to best
          fit your requirements.
        </p>
      </Acordion>

      <Acordion number={4} title="Monitoring and Optimization" client:load>
        <p>
          During the initial consultation, we will discuss your business goals
          and objectives, target audience, and current marketing efforts. This
          will allow us to understand your needs and tailor our services to best
          fit your requirements.
        </p>
      </Acordion>

      <Acordion number={5} title="Reporting and Communication" client:load>
        <p>
          During the initial consultation, we will discuss your business goals
          and objectives, target audience, and current marketing efforts. This
          will allow us to understand your needs and tailor our services to best
          fit your requirements.
        </p>
      </Acordion>

      <Acordion number={6} title="Continual Improvement" client:load>
        <p>
          During the initial consultation, we will discuss your business goals
          and objectives, target audience, and current marketing efforts. This
          will allow us to understand your needs and tailor our services to best
          fit your requirements.
        </p>
      </Acordion>
    </div>
  </Section>

  <Section>
    <div class="flex max-sm:flex-col gap-10 items-center sm:pt-[128px] pt-7">
      <h2 class="px-2 rounded-mini bg-p-green">Team</h2>
      <p class="sm:w-[580px] max-sm:text-center">
        Meet the skilled and experienced team behind our <br /> successful digital
        marketing strategies
      </p>
    </div>

    <div
      class="w-full pt-[128px] pb-[40px] flex flex-wrap gap-9 justify-center">
      <article
        class="w-[387px] h-[331px] sm:px-[35px] sm:py-[40px] p-5 border border-p-black shadow-box rounded-big">
        <div class="flex flex-row items-start pb-7">
          <img
            src="/images/team1.png"
            alt="team"
            decoding="async"
            loading="lazy"
            class="w-[105.65px] h-[102.82px] mr-5"
          />
          <div class="w-full h-[102.82px] flex flex-col justify-end">
            <p class="sm:text-xl font-medium">John Smith</p>
            <p>CEO and Founder</p>
          </div>
          <img
            src="/images/linkedin.png"
            alt="team"
            decoding="async"
            loading="lazy"
          />
        </div>

        <div class="border-t border-t-p-black">
          <p class="pt-7">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </article>

      <article
        class="w-[387px] h-[331px] sm:px-[35px] sm:py-[40px] p-5 border border-p-black shadow-box rounded-big">
        <div class="flex flex-row items-start pb-7">
          <img
            src="/images/team2.png"
            alt="team"
            decoding="async"
            loading="lazy"
            class="w-[105.65px] h-[102.82px] mr-5"
          />
          <div class="w-full h-[102.82px] flex flex-col justify-end">
            <p class="sm:text-xl font-medium">Jane Doe</p>
            <p>Director of Operations</p>
          </div>
          <img
            src="/images/linkedin.png"
            alt="team"
            decoding="async"
            loading="lazy"
          />
        </div>

        <div class="border-t border-t-p-black">
          <p class="pt-7">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </article>

      <article
        class="w-[387px] h-[331px] sm:px-[35px] sm:py-[40px] p-5 border border-p-black shadow-box rounded-big">
        <div class="flex flex-row items-start pb-7">
          <img
            src="/images/team3.png"
            alt="team"
            decoding="async"
            loading="lazy"
            class="w-[105.65px] h-[102.82px] mr-5"
          />
          <div class="w-full h-[102.82px] flex flex-col justify-end">
            <p class="sm:text-xl font-medium">Michael Brown</p>
            <p>Senior SEO Specialist</p>
          </div>
          <img
            src="/images/linkedin.png"
            alt="team"
            decoding="async"
            loading="lazy"
          />
        </div>

        <div class="border-t border-t-p-black">
          <p class="pt-7">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </article>

      <article
        class="w-[387px] h-[331px] sm:px-[35px] sm:py-[40px] p-5 border border-p-black shadow-box rounded-big">
        <div class="flex flex-row items-start pb-7">
          <img
            src="/images/team4.png"
            alt="team"
            decoding="async"
            loading="lazy"
            class="w-[105.65px] h-[102.82px] mr-5"
          />
          <div class="w-full h-[102.82px] flex flex-col justify-end">
            <p class="sm:text-xl font-medium">Emily Johnson</p>
            <p>PPC Manager</p>
          </div>
          <img
            src="/images/linkedin.png"
            alt="team"
            decoding="async"
            loading="lazy"
          />
        </div>

        <div class="border-t border-t-p-black">
          <p class="pt-7">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </article>

      <article
        class="w-[387px] h-[331px] sm:px-[35px] sm:py-[40px] p-5 border border-p-black shadow-box rounded-big">
        <div class="flex flex-row items-start pb-7">
          <img
            src="/images/team5.png"
            alt="team"
            decoding="async"
            loading="lazy"
            class="w-[105.65px] h-[102.82px] mr-5"
          />
          <div class="w-full h-[102.82px] flex flex-col justify-end">
            <p class="sm:text-xl font-medium">Brian Williams</p>
            <p>Social Media Specialist</p>
          </div>
          <img
            src="/images/linkedin.png"
            alt="team"
            decoding="async"
            loading="lazy"
          />
        </div>

        <div class="border-t border-t-p-black">
          <p class="pt-7">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </article>

      <article
        class="w-[387px] h-[331px] sm:px-[35px] sm:py-[40px] p-5 border border-p-black shadow-box rounded-big">
        <div class="flex flex-row items-start pb-7">
          <img
            src="/images/team6.png"
            alt="team"
            decoding="async"
            loading="lazy"
            class="w-[105.65px] h-[102.82px] mr-5"
          />
          <div class="w-full h-[102.82px] flex flex-col justify-end">
            <p class="sm:text-xl font-medium">Sarah Kim</p>
            <p>Content Creator</p>
          </div>
          <img
            src="/images/linkedin.png"
            alt="team"
            decoding="async"
            loading="lazy"
          />
        </div>

        <div class="border-t border-t-p-black">
          <p class="pt-7">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </article>
    </div>

    <div class="flex sm:justify-end justify-center">
      <Button
        ><span class="pl-7"></span>See all team <span class="pr-7"
        ></span></Button
      >
    </div>
  </Section>

  <Section>
    <div class="flex max-sm:flex-col gap-10 items-center py-[128px]">
      <h2 class="px-2 rounded-mini bg-p-green">Testimonials</h2>
      <p class="sm:w-[580px] max-sm:text-center">
        Hear from Our Satisfied Clients: Read Our Testimonials <br /> to Learn More
        about Our Digital Marketing Services
      </p>
    </div>

    <Testimonials client:load />
  </Section>

  <Section>
    <div class="flex max-sm:flex-col gap-10 items-center py-[128px]">
      <h2 class="px-2 rounded-mini bg-p-green">Contact Us</h2>
      <p class="sm:w-[580px] max-sm:text-center">
        Connect with Us: Let's Discuss Your <br /> Digital Marketing Needs
      </p>
    </div>

    <Contact client:load />
  </Section>
</Layout>
