---
import Newsletter from "./Newsletter.astro";
---

<footer class="w-full min-[1439px]:px-[100px] px-5">
  <div
    class="w-full bg-p-black rounded-tr-big rounded-tl-big sm:px-[60px] sm:py-[55px] p-5">
    <div class="flex max-[869px]:flex-col min-[869px]:justify-between max-[869px]:flex-col max-[869px]:items-center max-[869px]:gap-10 ">
      <img
        src="/images/Logo-footer.png"
        alt="logo footer"
        decoding="async"
        loading="lazy"
      />
      <ul class="flex gap-10 max-[869px]:flex-col max-[869px]:flex-col max-[869px]:items-center">
        <li>
          <a href="#" class="text-white underline text-lg underline-offset-auto"
            >About us</a
          >
        </li>
        <li>
          <a href="#" class="text-white underline text-lg underline-offset-auto"
            >Services</a
          >
        </li>
        <li>
          <a href="#" class="text-white underline text-lg underline-offset-auto"
            >Use Cases</a
          >
        </li>
        <li>
          <a href="#" class="text-white underline text-lg underline-offset-auto"
            >Pricing</a
          >
        </li>
        <li>
          <a href="#" class="text-white underline text-lg underline-offset-auto"
            >Blog</a
          >
        </li>
      </ul>
      <div class="min-[1146px]:flex gap-5 hidden">
        <img
          src="/images/linkedin-footer.png"
          alt="Linkedin"
          decoding="async"
          loading="lazy"
          class="cursor-pointer"
        />
        <img
          src="/images/facebook.png"
          alt="Facebook"
          decoding="async"
          loading="lazy"
          cursor-pointer
        />
        <img
          src="/images/x.png"
          alt="X"
          decoding="async"
          loading="lazy"
          cursor-pointer
        />
      </div>
    </div>

    <div class="flex max-[1078px]:flex-col max-[1078px]:gap-10 justify-between mt-[66px] mb-[50px]">
      <div class="flex flex-col min-[869px]:items-start items-center">
        <h4 class="px-2 rounded-mini bg-p-green">Contact us:</h4>
        <br />
        <p class="text-white">Email: info@positivus.com</p>
        <br />
        <p class="text-white">Phone: 555-567-8901</p>
        <br />
        <p class="text-white">Address: 1234 Main St</p>
        <p class="text-white">Moonstone City, Stardust State 12345</p>
      </div>

      <Newsletter />
    </div>

    <div class="flex gap-5 min-[1146px]:hidden mb-10 max-[869px]:justify-center">
      <img
        src="/images/linkedin-footer.png"
        alt="Linkedin"
        decoding="async"
        loading="lazy"
        class="cursor-pointer"
      />
      <img
        src="/images/facebook.png"
        alt="Facebook"
        decoding="async"
        loading="lazy"
        cursor-pointer
      />
      <img
        src="/images/x.png"
        alt="X"
        decoding="async"
        loading="lazy"
        cursor-pointer
      />
    </div>

    <div class="flex items-center gap-5 border-t border-white pt-[50px] max-[869px]:flex-col">
      <p class="text-white">© 2023 Positivus. All Rights Reserved.</p>
      <a href="" class="text-white underline">Privacy Policy</a>
    </div>
  </div>
</footer>
