<header class="w-full h-[120px] grid place-items-center">
  <nav class="w-full h-[68px] flex justify-between items-center px-[100px]">
    <img src="/images/Logo.png" alt="logo nav" />
    <ul class="flex gap-10 items-center">
      <li><a href="#" class="p-2 rounded-mini hover:bg-p-green">About us</a></li>
      <li><a href="#" class="p-2 rounded-mini hover:bg-p-green">Services</a></li>
      <li><a href="#" class="p-2 rounded-mini hover:bg-p-green">Use Cases</a></li>
      <li><a href="#" class="p-2 rounded-mini hover:bg-p-green">Pricing</a></li>
      <li><a href="#" class="p-2 rounded-mini hover:bg-p-green">Blog</a></li>
      <li>
        <a href="#" class="flex px-[35px] py-5 items-center gap-[10px] border rounded-little border-p-black hover:bg-p-green">Request a quote</a>
      </li>
    </ul>
  </nav>
</header>
