<div class="lg:max-w-[634px] h-auto w-full sm:py-[58px] sm:px-10 p-5 flex max-[1078px]:flex-col gap-5 bg-[#292A32] rounded-little ">
 <input type="text" placeholder="Email" class="bg-[#292A32]  w-full h-[67px] py-[22px] px-[35px] rounded-little border border-white placeholder:text-white">
 <input type="button" value="Subcribe to news" class="bg-p-green  w-full h-[67px] py-[22px] px-[35px] rounded-little cursor-pointer">
</div>