<div class="max-w-[634px] py-[58px] px-10 flex gap-5 bg-[#292A32] rounded-little">
 <input type="text" placeholder="Email" class="bg-[#292A32] w-1/2 h-[67px] py-[22px] px-[35px] rounded-little border border-white placeholder:text-white">
 <input type="button" value="Subcribe to news" class="bg-p-green w-1/2 h-[67px] py-[22px] px-[35px] rounded-little cursor-pointer">
</div>